body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header {
    background-color: #d9534f;
    color: white;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
}
h2 {
    color: #d9534f;
}
section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
a {
    color: #d9534f;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #d9534f;
    color: white;
}